.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: hidden;
  visibility: hidden;
  z-index: 999;
}

.modal_open {
  visibility: visible;
}

.modal__form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 372px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  border-width: 1px;
  border-style: solid;
  position: relative;
  padding: 28px 28px 36px 28px;
}
.modal__radio-buttons {
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
}

.modal__close {
  background-image: url(../../assets/closebutton.svg);
  position: absolute;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border: none;
  top: 20px;
  right: 28px;
}

.modal__label {
  width: 42px;
  height: 20px;
  border-style: none;
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  width: 440px;
  height: 24px;
  border: none;
  border-bottom: solid;
  border-radius: 1px;
  border-color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 24px;
  border-width: 1px;
}

.modal__image {
  width: 440px;
  height: 29px;
  border: none;
  border-bottom: solid;
  border-radius: 1px;
  border-color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 28px;
  border-width: 1px;
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__radio-buttons {
  height: 108px;
  width: 173px;
  border-style: none;
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__input_type_radio {
  border: none;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__input_type_radio-hot {
  color: rgba(0, 0, 0, 1);
}

.modal__submit-button {
  margin-top: 24px;
  width: 124px;
  height: 36px;
  gap: 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
